---
import { getCollection } from 'astro:content'
import ContentCard from '@/components/ContentCard.astro'

import categories from '@/data/categories'
import CategoryLayout from '../../layouts/CategoryLayout.astro'
import { capitalize } from '../../utils/helpers'

export function getStaticPaths() {
	return categories.map((item) => ({
		params: { category: item.type },
		props: { category: item.type },
	}))
}

const { category } = Astro.props
const designs = await getCollection(
	'ui',
	({ data }) => data.category === category
)
---

<CategoryLayout category={capitalize(category)}>
	<div
		class='w-full grid grid-cols-1 gap-8 py-12 md:grid-cols-2 lg:grid-cols-3'
		id='lg'
	>
		{
			designs.length > 0 ? (
				<>
					{designs.map((design) => (
						<ContentCard
							alt={design.data.product}
							aspectRatio={1.7777}
							group={Array.isArray(design.data.image)}
							src={design.data.image}
							title={design.data.product}
							width={480}
						/>
					))}
				</>
			) : (
				<div class='col-span-1 lg:col-span-3 px-16 py-32 flex items-center justify-center text-white text-2xl shadow-[10px_10px_0_-1px_rgb(22,22,22),10px_10px_0_rgb(255,255,255),20px_20px_0_-1px_rgb(22,22,22),20px_20px_0_rgb(255,255,255)] border border-white'>
					Nothing here yet. Check back soon.
				</div>
			)
		}
	</div>
</CategoryLayout>
