---
import { getCollection } from 'astro:content'
import GridLayout from '@/layouts/GridLayout.astro'
import Card from '@/components/shared/Card.astro'
import Button from '@/components/shared/Button.astro'
import categories from '@/data/categories'

const designs = await getCollection('ui', ({ data }) => !data.draft)
---

<GridLayout>
	<div class='flex items-center gap-6'>
		{
			categories.map((category) => (
				<a href={`/${category.type}`}>
					<Button className='filter'>{category.title}</Button>
				</a>
			))
		}
	</div>
	<div
		class='grid grid-cols-1 gap-8 py-12 md:grid-cols-2 lg:grid-cols-3'
	>
		{
			designs.map((design) => (
				<>
					<Card
						image={{
							alt: `${design.data.product} thumbnail`,
							aspectRatio: 1.7777,
							src: design.data.image,
							width: 480,
						}}
						link={`/${design.slug}`}
						title={design.data.product}
					/>
				</>
			))
		}
	</div>
</GridLayout>

<!-- <script> -->
<!-- 	const buttons = document.querySelectorAll('button.filter') -->
<!---->
<!-- 	buttons.forEach((button) => { -->
<!-- 		button.addEventListener('click', (event) => { -->
<!-- 			const button = event.target -->
<!-- 			// @ts-ignore -->
<!-- 			const isActive = button.getAttribute('data-active') -->
<!-- 			if (isActive) { -->
<!-- 				// @ts-ignore -->
<!-- 				button.setAttribute('data-active', false) -->
<!-- 			} else { -->
<!-- 				// @ts-ignore -->
<!-- 				button.setAttribute('data-active', true) -->
<!-- 			} -->
<!-- 		}) -->
<!-- 	}) -->
<!-- </script> -->
