---
import { Image } from 'astro:assets'
import '@/styles/content-card.css'

type Props = {
	alt: string
	aspectRatio: number
	category: string
	group?: boolean
	src: string | string[]
	tag?: string
	thumbnail?: string
	title: string
	type?: string
	width: number
}
const {
	alt,
	aspectRatio,
	category,
	group = false,
	src,
	tag,
	title,
	thumbnail,
	type = 'image/png',
	width,
} = Astro.props
---

<figure class='flex flex-col'>
	<div
		class='w-full aspect-video overflow-hidden border-2 border-white object-cover shadow-[5px_5px_0_0_rgba(250,238,231,0.9)] transition-all duration-200 hover:translate-x-[5px] hover:translate-y-[5px] hover:shadow-none'
	>
		{
			Array.isArray(src) && group ? (
				<div class='flex h-auto w-full flex-col gap-8'>
					{src.map((img) => (
						<div
							class='image relative flex h-auto w-full'
							data-src={img}
						>
							<img
								alt={alt}
								aspectRatio={aspectRatio}
								src={img}
								width={width}
							/>
						</div>
					))}
				</div>
			) : (
				<div class='relative flex h-auto w-full'>
					{type === 'video/webm' ? (
						<div
							class='image'
							data-video={`{"source": [{"src": "${src}", "type": "video/webm"}]}`}
							data-poster={thumbnail}
						>
							<video
								alt={alt}
								aspectRatio={aspectRatio}
								src={thumbnail}
								width={width}
							/>
						</div>
					) : (
						<div class='image' data-src={src}>
							<img
								alt={alt}
								aspectRatio={aspectRatio}
								src={src}
								width={width}
							/>
						</div>
					)}
				</div>
			)
		}
	</div>
	<div class='mt-4 flex justify-between px-2'>
		<p class='mt-1 text-xl font-medium leading-6 text-text'>
			{title}
		</p>
		{
			tag ? (
				<p class='px-3 bg-text/10 text-text/50 inline-flex items-center justify-center rounded-lg text-sm'>
					{tag}
				</p>
			) : null
		}
	</div>
</figure>

<!-- <ExternalScripts /> -->
<script>
	import lightgallery from 'lightgallery'
	import lgThumbnail from 'lightgallery/plugins/thumbnail'
	import lgVideo from 'lightgallery/plugins/video'
	import lgZoom from 'lightgallery/plugins/zoom'

	const galleryContainer = document.getElementById('lg')

	// @ts-ignore
	lightgallery(galleryContainer, {
		counter: false,
		download: false,
		plugins: [lgThumbnail, lgVideo, lgZoom],
		selector: '.image',
		thumbnail: true,
	})
</script>
