---
import { Image } from 'astro:assets'
import SocialLinks from './SocialLinks.astro'
import Link from './shared/Link.astro'
const footerData = [
	{
		title: 'Socials',
	},
	{
		title: 'Pages',
		items: [
			{
				label: 'Categories',
				link: '/categories',
			},
			{
				label: 'About',
				link: '/about',
			},
		],
	},
	{
		title: 'Network',
		items: [
			{
				label: 'Catalyst UI',
				link: 'https://catalyst-ui.com/',
			},
			{
				label: 'Rescribe',
				link: 'https://rescribe.site/',
			},
			{
				label: 'Aurelius',
				link: 'https://aurelius.ink/',
			},
			{
				label: 'Synthwave Stack',
				link: 'https://github.com/i4o-oss/synthwave-stack',
			},
		],
	},
]
---

<footer class='border-t border-text/5'>
	<div class='w-full mx-auto md:px-12 px-8 max-w-[96rem] lg:px-16 py-16'>
		<div class='flex flex-col gap-16'>
			<div
				class='flex flex-col items-start justify-center w-full lg:w-1/3 gap-4'
			>
				<div class='-ml-3'>
					<Image
						src='/logo.png'
						alt='uxinspo logo'
						height={32}
						aspectRatio='4:1'
					/>
				</div>
				<div
					class='flex items-center gap-2 sm:w-[24rem] lg:w-[30rem] xl:w-[36rem] text-text/50 leading-loose text-center lg:text-left mx-auto lg:mx-0 font-sans text-lg'
				>
					<svg
						class='h-5 w-5 -mt-1'
						xmlns='http://www.w3.org/2000/svg'
						viewBox='0 0 24 24'
						fill='none'
						stroke='currentColor'
						stroke-width='2'
						stroke-linecap='round'
						stroke-linejoin='round'
					>
						<path d='m7 11 2-2-2-2'></path>
						<path d='M11 13h4'></path>
						<rect x='3' y='3' width='18' height='18' rx='2' ry='2'
						></rect>
					</svg>
					<p class='flex items-center'>
						Built by&nbsp;
						<Link
							href='https://i4o.dev'
							label='i4o'
							isUnderline
							target='_blank'
						/>
						 .
					</p>
					<p class='flex items-center'>
						The source code is available on&nbsp;
						<Link
							href='https://github.com/i4o-dev/uxinspo'
							label='Github'
							isUnderline
							target='_blank'
						/>
						 .
					</p>
				</div>
			</div>
			<div
				class='w-full lg:w-2/3 hidden lg:flex flex-wrap justify-start gap-24'
			>
				<div class='w-36 mx-auto lg:mx-0'>
					<h3 class='font-bold text-white font-sans'>
						{footerData[0].title}
					</h3>
					<SocialLinks />
				</div>
				<div class='w-full md:w-1/3 lg:w-auto mb-16 md:mb-0'>
					<h3 class='mb-6 font-bold text-white font-sans'>
						{footerData[1].title}
					</h3>
					<ul>
						{
							footerData[1].items?.map((item) => (
								<li class='mb-4'>
									<Link
										href={item.link}
										label={item.label}
										target='_self'
									/>
								</li>
							))
						}
					</ul>
				</div>
				<div class='w-full md:w-1/3 lg:w-auto mb-16 md:mb-0'>
					<h3 class='mb-6 font-bold text-white font-sans'>
						{footerData[2].title}
					</h3>
					<ul>
						{
							footerData[2].items?.map((item) => (
								<li class='mb-4'>
									<Link
										href={item.link}
										label={item.label}
										target='_blank'
									/>
								</li>
							))
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
