---
import SocialLinks from '../SocialLinks.astro'
import Link from './Link.astro'
const footerData = [
	{
		title: 'Socials',
	},
	{
		title: 'Pages',
		items: [
			{
				label: 'Categories',
				link: '/categories',
			},
			{
				label: 'About',
				link: '/about',
			},
		],
	},
	{
		title: 'Network',
		items: [
			{
				label: 'Catalyst UI',
				link: 'https://catalyst-ui.com/',
			},
			{
				label: 'Rescribe',
				link: 'https://rescribe.site/',
			},
		],
	},
	{
		title: 'Links',
		items: [
			{
				label: 'Catalyst UI',
				link: 'https://catalyst-ui.com/',
			},
			{
				label: 'Rescribe',
				link: 'https://rescribe.site/',
			},
		],
	},
]
---

<footer class='border-t border-text/5'>
	<div class='w-full mx-auto md:px-12 px-8 max-w-7xl lg:px-16 py-16'>
		<div class='flex flex-col gap-16'>
			<div
				class='flex flex-col items-start justify-center w-full lg:w-1/3 gap-4'
			>
				<p class='text-white font-bold text-xl'>UI Inspo</p>
				<p
					class='sm:w-[24rem] lg:w-[30rem] xl:w-[36rem] text-gray-400 leading-loose text-center lg:text-left mx-auto lg:mx-0'
				>
					A curated collection of web app designs for inspiration and
					reference. Take inspiration from hundreds of SaaS
					application UIs from real companies.
				</p>
			</div>
			<div
				class='w-full lg:w-2/3 hidden lg:flex flex-wrap justify-start gap-24'
			>
				<div class='w-36 mx-auto lg:mx-0'>
					<h3 class='mb-6 font-bold text-white'>
						{footerData[0].title}
					</h3>
					<SocialLinks />
				</div>
				<div class='w-full md:w-1/3 lg:w-auto mb-16 md:mb-0'>
					<h3 class='mb-6 font-bold text-white'>
						{footerData[1].title}
					</h3>
					<ul>
						{
							footerData[1].items.map((item, i) => (
								<li key={i} class='mb-4'>
									<Link
										href={item.link}
										label={item.label}
										target='_self'
									/>
								</li>
							))
						}
					</ul>
				</div>
				<div class='w-full md:w-1/3 lg:w-auto mb-16 md:mb-0'>
					<h3 class='mb-6 font-bold text-white'>
						{footerData[2].title}
					</h3>
					<ul>
						{
							footerData[2].items.map((item, i) => (
								<li key={i} class='mb-4'>
									<Link
										href={item.link}
										label={item.label}
										target='_blank'
									/>
								</li>
							))
						}
					</ul>
				</div>
				<div class='w-full md:w-1/3 lg:w-auto'>
					<h3 class='mb-6 font-bold text-white'>
						{footerData[3].title}
					</h3>
					<ul>
						{
							footerData[3].items.map((item, i) => (
								<li key={i} class='mb-4'>
									<Link
										href={item.link}
										label={item.label}
										target='_self'
									/>
								</li>
							))
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
